In [1]:
a = {'name':'Bill gates' , 'Age' : 20}
a

{'name': 'Bill gates', 'Age': 20}

In [2]:
type(a)

dict

In [3]:
a = {}


a['name'] = 'Bill gates'
a['Age'] = 50


print(a)

{'name': 'Bill gates', 'Age': 50}

In [6]:
b = {}


for i in range(1,5):  # i = 1
    b[i] = i ** 3  #  1 : 1 , 2 : 8

In [7]:
b

{1: 1, 2: 8, 3: 27, 4: 64}

### dictionary comprehension

In [8]:
a = {i:i**3 for i in range(1,5)}
a

{1: 1, 2: 8, 3: 27, 4: 64}

In [9]:
old_fruit_prices = {"mango":20 , 'apple':50 , 'grapes':80}

print(old_fruit_prices)

{'mango': 20, 'apple': 50, 'grapes': 80}

In [12]:
for i in old_fruit_prices.items():
    print(i)

('mango', 20)
('apple', 50)
('grapes', 80)

In [16]:
# normal technique 
old_fruit_prices = {"mango":20 , 'apple':50 , 'grapes':80}


new_fruit_prices = {}

for i , j in old_fruit_prices.items():
    new_fruit_prices[i] = j * 10

In [17]:
new_fruit_prices

{'mango': 200, 'apple': 500, 'grapes': 800}

In [18]:
# dict comprehension 
old_fruit_prices = {"mango":20 , 'apple':50 , 'grapes':80}

new_values = {i:j*10 for i,j in old_fruit_prices.items()}

In [19]:
new_values

{'mango': 200, 'apple': 500, 'grapes': 800}

In [20]:
laptops = {'HP':10 , 'DeLL':20 , 'acer':50 , 'ASUS' : 100}
laptops

{'HP': 10, 'DeLL': 20, 'acer': 50, 'ASUS': 100}

In [21]:
# which laptop values are greater than 20 pls multiply it with 100

a = {i:j * 100 for i,j in laptops.items() if j > 20}

In [22]:
a

{'acer': 5000, 'ASUS': 10000}

In [24]:
result = {'kamal':50 , 'shiva':20, 'pradeep' : 60 , 'ashu' : 15}

result

{'kamal': 50, 'shiva': 20, 'pradeep': 60, 'ashu': 15}

In [25]:
# normal

# if marks less than 40 means make fail and above 40 means make pass

result = {'kamal':50 , 'shiva':20, 'pradeep' : 60 , 'ashu' : 15}

new_result = {}


for i , j in result.items():
    if j >= 40:
        new_result[i] = 'PASS'
    else:
        new_result[i] = "FAIL"

In [26]:
new_result

{'kamal': 'PASS', 'shiva': 'FAIL', 'pradeep': 'PASS', 'ashu': 'FAIL'}

In [27]:
## dict comprehension 

result = {'kamal':50 , 'shiva':20, 'pradeep' : 60 , 'ashu' : 15}

result

{'kamal': 50, 'shiva': 20, 'pradeep': 60, 'ashu': 15}

In [30]:
new_res = {i:('PASS' if j >=40 else 'Fail') for i,j in result.items()}

In [31]:
new_res

{'kamal': 'PASS', 'shiva': 'Fail', 'pradeep': 'PASS', 'ashu': 'Fail'}

In [32]:
## doubt query 

a = {i:("EVEN" if i% 2 == 0 else "ODD") for i in range(1,11)}

In [33]:
a

{1: 'ODD',
 2: 'EVEN',
 3: 'ODD',
 4: 'EVEN',
 5: 'ODD',
 6: 'EVEN',
 7: 'ODD',
 8: 'EVEN',
 9: 'ODD',
 10: 'EVEN'}